Repository Cognifide/AEM-Rules-for-SonarQube, pull requests merged in 2019-06, with the labels that each got.

#158 Issue 155 - bugfixes
  src/main/java/com/cognifide/aemrules/htl/HtlFilePredicateProvider.java
  src/main/java/com/cognifide/aemrules/htl/checks/DefaultDisplayContextCheck.java
  src/main/java/com/cognifide/aemrules/htl/checks/PlaceTemplatesInSeparateFilesCheck.java
  src/main/java/com/cognifide/aemrules/htl/checks/UseMostRestrictiveHtlContextCheck.java
  src/main/java/com/cognifide/aemrules/htl/rules/HtlCheckClasses.java
  src/main/resources/rules/HTL-1.md
  src/main/resources/rules/HTL-4.md
  src/main/resources/rules/HTL-6.md
  src/test/java/com/cognifide/aemrules/htl/HtlProfileTest.java
Labels: bug, htl, rule

#161 #111 - bugfix - avoiding rules overlapping
  src/main/java/com/cognifide/aemrules/htl/checks/UseSlyTagsOverRedundantMarkupCheck.java
  src/test/files/checks/htl/AvoidExtraSlyTagsCheck.html
  src/test/files/checks/htl/UseSlyTagsOverRedundantMarkupCheck.html
Labels: bug, htl, rule

#162 Issue 112 bugfix
  src/main/java/com/cognifide/aemrules/htl/checks/PlaceTemplatesInSeparateFilesCheck.java
  src/test/files/checks/htl/PlaceTemplatesInSeparateFilesCheck.html
Labels: bug, htl, rule

#165 #117 - add description for HTL-12
  src/main/resources/rules/HTL-12.md
Labels: bug, htl, rule

#137 Issue 114 - Use Camel Case in identifiers
  README.md
  src/main/java/com/cognifide/aemrules/htl/checks/CamelCaseCheck.java
  src/main/java/com/cognifide/aemrules/htl/rules/HtlCheckClasses.java
  src/main/resources/rules/HTL-15.md
  src/test/files/checks/htl/CamelCaseCheck.html
  src/test/java/com/cognifide/aemrules/htl/HtlProfileTest.java
  src/test/java/com/cognifide/aemrules/htl/checks/CamelCaseCheckTest.java
Labels: htl, rule

#168 htl-11 - bugfix - fix duplicated violations
  src/main/java/com/cognifide/aemrules/htl/checks/AvoidExtraSlyTagsCheck.java
  src/test/files/checks/htl/AvoidExtraSlyTagsCheck.html
Labels: bug, htl, rule

#170 Issue 169 - description formatting
  src/main/resources/rules/AEM-17.md
  src/main/resources/rules/AEM-18.md
  src/main/resources/rules/AEM-19.md
  src/main/resources/rules/AEM-20.md
  src/main/resources/rules/HTL-1.md
  src/main/resources/rules/HTL-10.md
  src/main/resources/rules/HTL-11.md
  src/main/resources/rules/HTL-12.md
  src/main/resources/rules/HTL-13.md
  src/main/resources/rules/HTL-14.md
  src/main/resources/rules/HTL-3.md
  src/main/resources/rules/HTL-4.md
  src/main/resources/rules/HTL-5.md
  src/main/resources/rules/HTL-6.md
  src/main/resources/rules/HTL-7.md
  src/main/resources/rules/HTL-8.md
  src/main/resources/rules/HTL-9.md
Labels: bug, htl, rule

#171 htl - 16 - HTL sly elements are automatically unwrapped
  src/main/java/com/cognifide/aemrules/htl/checks/SlyElementsAreAutomaticallyUnwrappedCheck.java
  src/main/java/com/cognifide/aemrules/htl/rules/HtlCheckClasses.java
  src/main/resources/rules/HTL-12.md
  src/main/resources/rules/HTL-16.md
  src/test/files/checks/htl/SlyElementsAreAutomaticallyUnwrappedCheck.html
  src/test/java/com/cognifide/aemrules/htl/HtlProfileTest.java
  src/test/java/com/cognifide/aemrules/htl/checks/SlyElementsAreAutomaticallyUnwrappedCheckTest.java
Labels: htl, rule

#172 Rc1 issues
  src/main/java/com/cognifide/aemrules/htl/checks/AvoidExtraSlyTagsCheck.java
  src/main/java/com/cognifide/aemrules/htl/checks/NamingAndReusingConditionsCheck.java
  src/main/java/com/cognifide/aemrules/htl/checks/UseMostRestrictiveHtlContextCheck.java
  src/main/java/com/cognifide/aemrules/htl/checks/UseSlyTagsOverRedundantMarkupCheck.java
  src/main/resources/rules/HTL-1.md
  src/main/resources/rules/HTL-10.md
  src/main/resources/rules/HTL-12.md
  src/main/resources/rules/HTL-13.md
  src/main/resources/rules/HTL-14.md
  src/main/resources/rules/HTL-15.md
  src/main/resources/rules/HTL-2.md
  src/main/resources/rules/HTL-3.md
  src/main/resources/rules/HTL-4.md
  src/main/resources/rules/HTL-5.md
  src/test/files/checks/htl/CamelCaseCheck.html
  src/test/files/checks/htl/ExplicitNamesInLoopsCheck.html
  src/test/files/checks/htl/UseSlyTagsOverRedundantMarkupCheck.html
Labels: bug, htl, rule

#173 AEM-14 remove
  README.md
  src/main/java/com/cognifide/aemrules/java/checks/HttpConstantCheck.java
  src/main/java/com/cognifide/aemrules/java/rules/JavaCheckClasses.java
  src/main/resources/rules/AEM-14.md
  src/test/files/checks/java/HttpConstantCheck.java
  src/test/java/com/cognifide/aemrules/java/checks/HttpConstantCheckTest.java
Labels: bug, rule
